@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 0.75rem;
  --screen-width: 90vmin;
  --ai-size-xxl: 65px;
  --mantine-radius-xxl: 65px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-size: 0.8rem;
}

* {
  box-sizing: border-box;
}

input {
  font-size: 1rem !important;
}

.ct-label {
  color: inherit !important;
}

.custom-y-axis-label span::before {
  content: "$";
}

#pie {
  height: 33vh;
  margin: 1rem 0;
  @media screen and (min-width: 1024px) {
    height: 25vh;
  }
}
